# Archivos y directorios generados por Node.js y npm
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Archivos generados por el editor de código
.vscode/
.idea/

# Archivos y directorios generados por Express.js
dist/

# Otros archivos y directorios generados por herramientas o dependencias específicas del proyecto
.env
# Agrega aquí los archivos o directorios que no deseas incluir en el repositorio

# Archivos de configuración de sistema operativo
.DS_Store
Thumbs.db